//***********THEME STYLES START*************

//***THEME ONE***

.background-main-one {
    background: hsl(222, 26%, 31%);
}

.header-color-one {
    color:hsl(0, 0%, 100%)
}

.background-toggle-one {
    background:hsl(223, 31%, 20%)
}

.screen-props-one {
    background:hsl(224, 36%, 15%);
    color:hsl(0, 0%, 100%)
}

.background-switcher-one {
    background:hsl(6, 63%, 50%)
}

.background-switcher-one:hover {
    background: #F96B5B;
}

.background-keyboard-one {
    background:hsl(223, 31%, 20%)
}

.key-props-one {
    background:hsl(30, 25%, 89%); 
    color:hsl(221, 14%, 31%); 
    box-shadow: inset 0px -4px 0px #B3A497
}

.key-props-one:active {
    background: white;
}

.del-props-one {
    background: hsla(225, 21%, 49%, 1); 
    color:hsl(0, 0%, 100%);
    box-shadow: inset 0px -4px 0px #414E73
}

.del-props-one:active {
    background: #A2B2E1;
}

.result-props-one {
    background: hsla(6, 63%, 50%, 1);
    color:hsl(0, 0%, 100%);
    box-shadow: inset 0px -4px 0px #93261A
}

.result-props-one:active {
    background: #F96B5B;
}

//***THEME TWO***

.background-main-two {
    background:hsl(0, 0%, 90%);
}

.header-color-two {
    color:hsl(60, 10%, 19%)
}

.background-toggle-two {
    background:hsl(0, 5%, 81%)
}

.screen-props-two {
    background:hsl(0, 0%, 93%);
    color:hsl(60, 10%, 19%)
}

.background-switcher-two {
    background:hsl(25, 98%, 40%)
}

.background-switcher-two:hover {
    background: #FF8A38;
}

.background-keyboard-two {
    background:hsl(0, 5%, 81%)
}

.key-props-two {
    background:hsl(45, 7%, 89%); 
    color:hsl(60, 10%, 19%); 
    box-shadow: inset 0px -4px 0px #A79E91
}

.key-props-two:active {
    background: white;
}

.del-props-two {
    background: hsla(184, 42%, 37%, 1);
    color:hsl(0, 0%, 100%);
    box-shadow: inset 0px -4px 0px #1B6066
}

.del-props-two:active {
    background: #62B5BC;
}

.result-props-two {
    background: hsla(25, 98%, 40%, 1);
    color:hsl(0, 0%, 100%);
    box-shadow: inset 0px -4px 0px #873901
}

.result-props-two:active {
    background: #FF8A38;
}

//***THEME THREE***

.background-main-three {
    background:hsl(268, 75%, 9%);
}

.header-color-three {
    color:hsl(52, 100%, 62%)
}

.background-toggle-three {
    background:hsl(268, 71%, 12%)
}

.screen-props-three {
    background:hsl(268, 71%, 12%);
    color:hsl(52, 100%, 62%)
}

.background-switcher-three {
    background:hsl(176, 100%, 44%)
}

.background-switcher-three:hover {
    background: #93FFF8;
}

.background-keyboard-three {
    background:hsl(268, 71%, 12%)
}

.key-props-three {
    background:hsl(268, 47%, 21%); 
    color:hsl(52, 100%, 62%);
    box-shadow: inset 0px -4px 0px #881C9E;
}

.key-props-three:active {
    background: #6C34AC;
}

.del-props-three {
    background: hsla(281, 89%, 26%, 1); 
    color:hsl(0, 0%, 100%); 
    box-shadow: inset 0px -4px 0px #BE15F4
}

.del-props-three:active {
    background: #8631AF;
}

.result-props-three {
    background: hsla(176, 100%, 44%, 1);
    color:hsla(198, 20%, 13%, 1);
    box-shadow: inset 0px -4px 0px #6CF9F1
}

.result-props-three:active {
    background: #93FFF8;
}

@media screen and (min-width:600px) {

    .key-props-one:hover {
        background: white;
    }
    
    .del-props-one:hover {
        background: #A2B2E1;
    }
    
    .result-props-one:hover {
        background: #F96B5B;
    }
    
    .key-props-two:hover {
        background: white;
    }
    
    .del-props-two:hover {
        background: #62B5BC;
    }
    
    .result-props-two:hover {
        background: #FF8A38;
    }
    
    .key-props-three:hover {
        background: #6C34AC;
    }

    .del-props-three:hover {
        background: #8631AF;
    }

    .result-props-three:hover {
        background: #93FFF8;
    }
}

//***********THEME STYLES END*************

.main {
    max-width: 32.7rem;
    width: 100%;
}

.screen {
    margin-bottom: 2.4rem;

    &__input {
        width: 100%;
        border-radius: 10px;
        border: none;
        padding: 2.9rem 2.4rem 2.2rem;
        text-align: right;
        font-size: 4rem;
        line-height: 3.7rem;
        letter-spacing: -0.67px;
    }
}

.keyboard {
    padding: 2.4rem;
    border-radius: 10px;

    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.3rem;
    }

    &__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.3rem;
        margin-top: 1.3rem;
    }
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
    border-radius: 5px;
    border: none;

    &--small{
        width: 6rem;
        height: 6rem;
        font-size: 3.2rem;
        letter-spacing: -0.53px;
    }

    &--small-fix {
        font-size: 2rem;
    }

    &--large {
        width: 13.3rem;
        height: 6rem;
        font-size: 2rem;
        letter-spacing: -0.33px;
    }
}

button:active {
    transform: translateY(4px);
  }

@media screen and (min-width:600px) {
    .main {
        max-width: 54rem;
    }

    .keyboard {
        padding: 3.2rem 3rem;
    
        &__top {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2.5rem;
        }
    
        &__bottom {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.5rem;
            margin-top: 2.5rem;
        }
    }

    .key {
        line-height: 3.7rem;
        border-radius: 10px;
    
        &--small{
            width: 10.1rem;
            height: 6rem;
            font-size: 4rem;
            letter-spacing: -0.67px;
        }

        &--small-fix {
            font-size: 2.8rem;
        }
    
        &--large {
            width: 22.7rem;
            height: 6rem;
            font-size: 2.8rem;
            letter-spacing: -0.47px;
        }
    }

    .key:hover, .key:focus {
        cursor: pointer;
    }

    .screen {
        &__input {
            padding: 4rem 3.2rem 3.6rem;
            font-size: 5.6rem;
            line-height: 5.2rem;
            letter-spacing: -0.93px;
        }
    }
}